@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f3edf2;
    --text-color: #000000;
    --primary-color: #293d2b;
    --secondary-color: #dccbdc;
    --accent-color: #58845b;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000000;
    --text-color: #f3edf2;
    --primary-color: #adc8af;
    --secondary-color: #090609;
    --accent-color: #293d2b;
  }
}

[data-theme="light"] {
  --background-color: #f3edf2;
  --text-color: #000000;
  --primary-color: #293d2b;
  --secondary-color: #dccbdc;
  --accent-color: #58845b;
}

[data-theme="dark"] {
  --background-color: #000000;
  --text-color: #f3edf2;
  --primary-color: #adc8af;
  --secondary-color: #090609;
  --accent-color: #293d2b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
